@font-face {
    font-family: 'MyWebFont';
    src: url('fonts/myriadPro/MyriadPro-Regular.woff2') format('woff2'),
         url('fonts/myriadPro/MyriadPro-Regular.woff') format('woff'),
         url('fonts/myriadPro/MyriadPro-Regular.ttf') format('truetype');
}

$font-main: 'MyWebFont', sans-serif;