.app {
    text-align: center;
    height: 100%;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px 20px;
    width: 100%;
}