@import 'src/styles/vars.scss';
@import 'src/styles/fonts.scss';

.content-item {
	padding: $twentyPx;
	background: #ffffff;
	border: 1px solid #eeeeee;
	box-sizing: border-box;
	box-shadow: $boxShadow;
	border-radius: 10px;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}
.content-item-body {
	margin-bottom: $twentyPx;

	p {
		margin: 0;
		color: $с-black;
	}
}
.content-item-bottom {
	display: flex;
	justify-content: space-between;

	span {
		color: $с-grey;
	}
}
